<div class="body">
  <div class="container-1">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Mern Stack</h3>
          <p>
            The MERN stack is a popular set of technologies for building
            full-stack web applications
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Blockchain</h3>
          <p>
            Blockchain is a decentralized, distributed ledger technology that
            ensures the integrity and security of data across a network
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Machine Learning</h3>
          <p>
            ML involve creating systems that can learn from data, make
            decisions, and improve over time.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>04</h2>
          <h3>Kotlin</h3>
          <p>
            Kotlin is a statically typed programming language developed by
            JetBrains that runs on the Java Virtual Machine (JVM).
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>05</h2>
          <h3>Flutter</h3>
          <p>
            Flutter is an open-source UI software development toolkit created by
            Google. It allows developers to build natively compiled applications
            for mobile, web, and desktop
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>06</h2>
          <h3>Swift</h3>
          <p>
            Swift is a powerful and intuitive programming language developed by
            Apple for iOS, macOS, watchOS, and tvOS app development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
