<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>
            hi <span>,</span> i am <br />
            akash <br />
            singh <span>.</span>
          </h2>
          <p>Full Stack Web developer</p>
          <a href="../../assets/Resume.pdf" download>download resume</a>
        </div>
        <!--/.header-text-->
      </div>
      <!--/.col-->
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container-->
</section>

<!--about start -->
<section id="about" class="about">
  <div class="section-heading text-center">
    <h2>about me</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              I am a full stack web developer and I excel in both front-end and
              back-end technologiess, creating efficient and scalable web
              applications. My focus is on writing clean code and delivering
              innovative solutions.
            </h3>
            <p>
              Welcome to my portfolio! I am a seasoned Professional Web
              Developer with a strong background in full stack development. My
              expertise encompasses both front-end and back-end technologies,
              allowing me to create robust, scalable web applications. I pride
              myself on writing clean, efficient code and am passionate about
              finding innovative solutions to complex problems. My projects
              demonstrate a commitment to high quality, performance, and user
              satisfaction. Explore my work to see how I blend technical
              proficiency with creativity to deliver outstanding digital
              solutions.
            </p>
            <div class="row">
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>phone</h3>
                  <p>8288039361</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>email</h3>
                  <p>akash.singh&commat;gmail.com</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>website</h3>
                  <p>www.akash.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src="../../assets/images/img.jpg" alt="profile_image" />
            <div class="about-list-icon">
              <ul>
                <li>
                  <a href="#">
                    <fa-icon [icon]="faFacebookF"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faDribbble"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
              </ul>
              <!-- / ul -->
            </div>
            <!-- /.about-list-icon -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/.about-->
<!--about end -->

<!--education start -->
<section id="education" class="education">
  <div class="section-heading text-center">
    <h2>education</h2>
  </div>
  <div class="container">
    <div class="education-horizontal-timeline">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2018 - 2019</h2>
              <h3>Matriculation</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">KB DAV Sr. Sec. School</h4>
                <h5>Chandigarh</h5>
                <p class="description">
                  I completed my matriculation with 92.8% from the CBSE board,
                  reflecting my strong academic foundation and commitment to
                  excellence in subjects like mathematics, science, languages,
                  and social studies.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2019 - 2021</h2>
              <h3>Intermediate</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">KB DAV Sr. Sec. School</h4>
                <h5>Chandigarh</h5>
                <p class="description">
                  I completed my intermediate with 90.2% from the CBSE board in
                  the non-medical stream, showcasing my strong academic
                  performance and dedication to subjects such as mathematics,
                  physics, and chemistry.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2021-2025</h2>
              <h3>Bachelor <span>of </span> Technology</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span
                class="single-timeline-horizontal spacial-horizontal-line"
              ></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">SVIET</h4>
                <h5>Banur</h5>
                <p class="description">
                  I am currently pursuing a BTech in Computer Science and
                  Engineering at SViet College, with an expected graduation in
                  2025. Till now, I have achieved an SGPA of 8.5.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/.education-->
<!--education end -->
