<div class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide
      ><img src="../../assets/images/1.png" alt="" class="px-3" height="80%"
    /></ng-template>
    <ng-template carouselSlide>
      <img src="../../assets/images/2.png" alt="" class="px-3" height="80%"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="../../assets/images/3.jpeg" alt="" class="px-3" height="100%"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="../../assets/images/4.jpeg" alt="" class="px-3" height="100%"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="../../assets/images/5.png" alt="" class="px-3" height="100%"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="../../assets/images/6.jpeg" alt="" class="px-3" height="100%"
    /></ng-template>
    <ng-template carouselSlide>
      <img
        src="../../assets/images/7.jpeg"
        alt=""
        class="px-3 pt-2"
        height="100%"
    /></ng-template>
  </owl-carousel-o>
</div>
